@{
    ViewData["Title"] = "AanMelden";
}
@model string

<h1>AanMelden</h1>

<h4>PersoneelGegevens</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="@Url.Action("AanmeldFunctie", "Aanmelden")" method="post">
            <div class="text-danger"></div>
            <div class="form-group">
                <label for="PersoneelID" class="control-label">ID</label>
                <input type="number" id="PID" name="PID" min="1000" max="9999" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="Naam" class="control-label">Naam</label>
                <input type="text" id="name" name="name" minlength="5" maxlength="50" pattern="[a-z]{2,20}+([a-z]{2,20}){1,5}" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="Username" class="control-label">Username</label>
                <input type="text" id="username" name="username" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="Wachtwoord" class="control-label">Wachtwoord</label>
                <input type="password" id="password" name="password" minlength="8" maxlength="50" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <input type="email" id="email" name="email" required class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @Model
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
