@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Username"] = InternShipPipeline.Controllers.HomeController.username;
}
<h1>@ViewData["Title"]</h1>
<br />
<p>@ViewData["Username"]</p>
<br />
<form action="@Url.Action("Check", "Login")" method="post">
    <!--Text file?-->
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <br><br>


    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br><br>

    <input type="submit" id="submit" name="submit" value="Log in">
    @Model
</form>
<p></p>
