@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Username"] = InternShipPipeline.Controllers.HomeController.username;
}
<h1>@ViewData["Title"]</h1>
<br />
<p>@ViewData["Username"]</p>
<br />

<p></p>
