@{
    ViewData["Title"] = "Clock in or out";
    ViewData["Username"] = InternShipPipeline.Controllers.HomeController.username;
}

<html>
<head>
    <script>
        function myFunction() {
            document.getElementById("clockout").removeAttribute("disabled");
        }
    </script>
</head>
<body>
    <style>
        /* Style the buttons */
        .btn {
            border: none;
            outline: none;
            padding: 10px 16px;
            margin: 50px;
            background-color: lightgrey;
            cursor: pointer;
        }

            /* Style the active class (and buttons on mouse-over) */
            .active, .btn:hover {
                background-color: darkgrey;
                color: white;
            }
    </style>

    <div>
        <!--<h1>@ViewData["Title"]</h1>
        <br />-->
        <h1>Welcome, @ViewData["Username"]</h1>
        <br /><br />

        <div id="myDIV">
            <button id="clockin" class="btn" onclick="myFunction()">Clock in</button>
            <button id="clockout" class="btn" disabled>Clock out</button>
        </div>

    </div>
</body>
</html>
