@{
    ViewData["Title"] = "Home Page";
    ViewData["ReponseMessage"] = InternShipPipeline.Controllers.LoginController.
}

<html>
<body>

    <div class="text-center">
        <h1 class="display-4">Please login</h1>
        <br><br>

        <form action="@Url.Action("Check", "Login")" method="post">
            <!--Text file?-->
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br><br>


            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br><br>

            <input type="submit" id="submit" name="submit" value="Log in">
            <label for=response>@ViewData["ResponseMessage"]</label>
        </form>

        <br>
        <p>Login if you want to clock in or clock out.</p>
        <!--Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a> -->

    </div>

</body>
</html>
